# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# (compile "git ls-files -i --exclude-standard")

/codemodels/
/tmp-bison/

/xspice/bin/
/xspice/cmpp/Debug/
/xspice/cmpp/Release/
/xspice/cmpp/tmp-bison/
/xspice/cmpp/x64/
/xspice/icm/
/xspice/intermediate/

/x64/
/vngspice/
/vngspice-fftw/
/sharedspice/

/vngspice-adms/

/.vs/
*.vc.db
spinit
