# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# (compile "git ls-files -i --exclude-standard")

/inpptree-parser.c
/inpptree-parser.h

/parse-bison.c
/parse-bison.h

/vngspice
/vngspice-fftw
/sharedspice

/*.sln
/.vs
